# fly.toml app configuration file generated for govsky on 2025-01-11T01:16:12Z
#
# See https://fly.io/docs/reference/configuration/ for information about how to use this file.
#

app = 'govsky'
primary_region = 'iad'
swap_size_mb = 512

[build]

[deploy]
  release_command = './projects/database/node_modules/.bin/prisma migrate deploy --schema ./projects/database/prisma/schema.prisma'

[http_service]
  internal_port = 3000
  force_https = true
  auto_stop_machines = 'off'
  auto_start_machines = true
  min_machines_running = 1
  processes = ['app']

[[vm]]
  memory = '256mb'
  cpu_kind = 'shared'
  cpus = 1
  memory_mb = 256